/*전체 컴포넌트에 적용할 스타일*/
body{
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  font-family: "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}